# This needs to sync with loom/help_pats.py

global-exclude .DS_Store

recursive-exclude loom/website/examples *
recursive-exclude loom/website/_posts *

exclude loom/website/HISTORY.md
exclude loom/website/docs/benchmarks*.md
exclude loom/website/docs/ctags.md
exclude loom/website/docs/unified-diffs.md

exclude loom/website/install.ps1
exclude loom/website/install.sh

recursive-exclude loom/website/docs/leaderboards *
recursive-exclude loom/website/assets *
recursive-exclude loom/website *.js
recursive-exclude loom/website *.html
recursive-exclude loom/website *.yml
